/*css accueil */
body{
    margin: -15pxpx;
    padding: 35px;
    overflow-x: hidden;
    background-color :#eeedf0;
    font-style: italic;
}
header  {
    font-size: 40px;
    text-decoration: none;
    margin-top: -35px;
}
header img{
    width: 150px;
    height: 150px;
    
}
header nav ul{
    justify-content: space-around;
    display: flex;
    margin-inline-start: 250px;
    margin-top: -100px;
    margin-bottom: 100px;
    width: 750px;
}
header nav ul li{
    list-style-type: none;
   
}
header nav ul li a{
    color:#4a5969;
    text-decoration: none;

}
header nav ul li a:hover{
    cursor: pointer;
    

}
.text{
    font-size: 40px;
    color:#4a5969;
    width: 1100px;
    height: 400px;
    padding: 45px;
    margin-left: 50px;
    border: none;
}
hr{
    width: 500px;
    margin-left:0px ;
}
.container img{
    width: 650px;
    height: 500px;
    transform: translate(750px,-450px);
    border-radius: 32px;
}

.contact{
    font-size: 25px;
    margin-top: -700px;
    margin-left: 95px;
    color: black;
}
.contact a{
    text-decoration: none;
}
.div{
    margin-top: 100px;
}
.div img{
    width: 1490px;
    height: 750px;
}

.boite{
    display: flex;
    flex-wrap: wrap;
    border: solid;
    margin-top: 25px;
    background-color: #e4e8e2;
    height: 750px;
}
.titre p{
    font-size: 35px;
    font-family: "Pinyon Script", cursive;
    margin-left: 25px;
    color: #393939;
}
.titre h2{
    font-size: 60px;
    margin-left: 25px;
    color: #393939;

}
hr{
    margin-left: 25px;
    font-size: 35px;
    height: 5px; 
    background-color: black; 
    border: none; 
}
.rideau{
    transform: translate(570px , -270px);
    width: 290px;
}
.chaise{
    transform: translate(-60px ,110px);
    width: 290px;
    height: 300px;
}
.palme{
    transform: translate(-14px ,110px);
    width: 290px;
    height: 300px;
}
.rose{
    transform: translate(-70px ,-100px);
    width: 290px;
    height: 300px;
}
.armoire{
    transform: translate(-50px ,-290px);
    width: 290px;
    
}
.fleure{
    transform: translate(1120px , -290px);
    height: 300px;
}
.empty-box {
    display: flex;       
    flex-wrap: wrap; 
    margin-top: -273px;
    justify-content: space-around;
    margin-inline-start: 1100px;
    margin-right: 41px;
}
.box1{
    width: 70px;        
    height: 70px;         
    border: 2px solid black; 
    background-color: #c7c6c3; 
}
.box2{
    width: 70px;        
    height: 70px;         
    border: 2px solid black; 
    background-color: #777f77; 
}
.box3{
    width: 70px;        
    height: 70px;         
    border: 2px solid black; 
    background-color: #7a7060; 
}


.icones{
    margin-top: 80px;
    display:flex;
    font-size: 27px;
    margin-left: 95px;
   
}
.icones i{
    color: #333333;
}
/* style;css du plan*/
body{
    margin:30px;
    padding:30px;
  
    font-family: Arial, Helvetica, sans-serif;
}
.design{
    margin: 100px 0 0 200px;
    width: 70%;
    height: 450px;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.paragraphe{
    font-size: 25px;
}
.titre{
    font-size: 50px;
    text-align: center;
}
.design img{
    width: 10%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    border: 2px solid rgba(255, 255, 255,0.684);
    transition: all ease-in-out 0.7s;
}
.design img:hover{
    width: 25%;
}
.sous-titre{
    margin-top: 45px;
    font-size: 35px;

}
.paragraphe2{
    font-size: 25px;
}
.plan{
    font-size: 25px;
}
.contenaire{
    border:solid;
    height: 2470px;
    background-color:rgb(205, 234, 253);
}
.salon h3{
    font-size:25px ;
}
.salon img{
    width: 500px;
    height: 400px;
    margin-left: 90px;
}
.salon p{
    font-size: 25px;
    display:flex;
    flex-wrap: wrap;
    margin-left: 700px;
    margin-top: -300px;
    margin-bottom: 300px;
}

.cuisine h3{
    font-size:25px ;
}
.cuisine img{
    width: 500px;
    height: 400px;
    transform: translate(900px ,-250px);
}
.cuisine P{
    font-size: 25px;
    display: flex;
    flex-wrap: wrap;
    margin-left: 90px;
    margin-top:100px;
}
.chambre h3{
    font-size:25px ;
}
.chambre img{
    width: 500px;
    height: 400px;
}
.chambre p{
    font-size: 25px;
    display:flex;
    flex-wrap: wrap;
    margin-left: 700px;
    margin-top: -300px;
    margin-bottom: 300px;
}
.salle-de-bain h3{
    font-size:25px ;
}
.salle-de-bain img{
    width: 500px;
    height: 400px;
    transform: translate(900px ,10px);
}
.salle-de-bain p{
    font-size: 25px;
    display: flex;
    flex-wrap: wrap;
    margin-top: -300px;
   
}

/* style.css gallerie*/
body{
    overflow-x: hidden;
    margin: 20px;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
.titre{
    font-size: 45px;
    text-align: center;
}
.sous-titre{
    margin-left:10px ;
    font-size: 25px;
}
.container{
    display: grid;
    gap: 30px;
   
}
.salon{
    grid-template-columns:repeat(auto-fill, minmax(150px, 1fr));
}
.salon img{
    width: 370px;
    height: 250px;
    border-radius: 20px;
}
.douche{
    grid-template-columns:repeat(auto-fill, minmax(150px, 1fr));
}
.douche img{
    width: 370px;
    height: 250px;
    border-radius: 20px;
}
.cuisine{
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 16px; 
}
.cuisine img{
    width:370px ; 
    height:250px;
    border-radius: 20px;
}
.salle-à-manger{
    grid-template-columns:repeat(auto-fill, minmax(150px, 1fr));
}
.salle-à-manger img{
    width:370px ; 
    height:250px;
    border-radius: 20px;
}
.chambre{
    grid-template-columns:repeat(auto-fill, minmax(150px, 1fr));
}
.chambre img{
    width:370px ; 
    height:250px;
    border-radius: 20px;
}
